# Configuration for IJP sample job scripts

# Locations for jobtypes and scripts - remove whichever is not relevant on the current system. At least one of these must be defined:
#   - to install jobtype XML files in the IJP, define 'glassfish' and 'port'
#   - to install job scripts, define ijp.scripts.dir

# Glassfish home, must contain "glassfish/domains"
glassfish=/home/br54/glassfish4

# Glassfish admin port (normally 4848)
port=4848

# Location on batch server for job scripts (if current system is an IJP batch server)
ijp.scripts.dir=/opt/ijp/bin

# DatasetType 1 - used in most job types; must exist in ICAT
dataset.type.1=TestDatasetType

# DatasetType 2 - used in some job types; must exist in ICAT
dataset.type.2=TestDatasetType2

# Facility name (used by copy/create datafile jobs): must exist in ICAT
facility.name=TestFacility

# Data format and version (used by create_datafile): must exist in ICAT
data.format.name=TestDataFormat
data.format.version=0.1
